@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  --opaque-button-border-intensity: -8;

  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 0 0% 100%;
  --foreground: 217 40% 30%;
  --border: 217 20% 88%;

  --card: 180 7% 97%;
  --card-foreground: 217 40% 30%;
  --card-border: 180 7% 92%;

  --sidebar: 180 7% 97%;
  --sidebar-foreground: 217 40% 30%;
  --sidebar-border: 205 25% 91%;
  --sidebar-primary: 217 40% 30%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 212 52% 93%;
  --sidebar-accent-foreground: 217 40% 30%;
  --sidebar-ring: 38 99% 50%;

  --popover: 0 0% 100%;
  --popover-foreground: 217 40% 30%;
  --popover-border: 217 20% 88%;

  --primary: 217 40% 30%;
  --primary-foreground: 0 0% 100%;

  --secondary: 38 99% 50%;
  --secondary-foreground: 0 0% 100%;

  --muted: 42 100% 65%;
  --muted-foreground: 217 25% 8%;

  --accent: 212 52% 93%;
  --accent-foreground: 217 40% 30%;

  --destructive: 356 91% 54%;
  --destructive-foreground: 0 0% 100%;

  --input: 200 23% 97%;
  --ring: 38 99% 50%;

  --chart-1: 38 99% 50%;
  --chart-2: 197 58% 36%;
  --chart-3: 165 17% 60%;
  --chart-4: 42 100% 65%;
  --chart-5: 197 58% 36%;

  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "IBM Plex Mono", Menlo, monospace;
  --radius: 1.3rem;
  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 1px 2px -1px rgba(0, 0, 0, 0.04);
  --shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px -2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.10), 0px 3px 6px -3px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 10px 20px -4px rgba(0, 0, 0, 0.12), 0px 4px 8px -4px rgba(0, 0, 0, 0.08);
  --shadow-xl: 0px 20px 40px -8px rgba(0, 0, 0, 0.14), 0px 8px 16px -8px rgba(0, 0, 0, 0.10);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.18);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;

  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 0% 0%;
  --foreground: 200 7% 91%;
  --border: 210 5% 15%;

  --card: 228 10% 10%;
  --card-foreground: 0 0% 85%;
  --card-border: 228 10% 14%;

  --sidebar: 228 10% 10%;
  --sidebar-foreground: 0 0% 85%;
  --sidebar-border: 206 16% 26%;
  --sidebar-primary: 203 88% 53%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 206 70% 8%;
  --sidebar-accent-foreground: 204 88% 53%;
  --sidebar-ring: 203 89% 53%;

  --popover: 0 0% 0%;
  --popover-foreground: 200 7% 91%;
  --popover-border: 210 5% 15%;

  --primary: 204 88% 53%;
  --primary-foreground: 0 0% 100%;

  --secondary: 195 15% 95%;
  --secondary-foreground: 210 25% 8%;

  --muted: 0 0% 9%;
  --muted-foreground: 210 3% 46%;

  --accent: 206 70% 8%;
  --accent-foreground: 204 88% 53%;

  --destructive: 356 91% 54%;
  --destructive-foreground: 0 0% 100%;

  --input: 208 28% 18%;
  --ring: 203 89% 53%;

  --chart-1: 204 88% 53%;
  --chart-2: 160 100% 36%;
  --chart-3: 42 93% 56%;
  --chart-4: 147 79% 42%;
  --chart-5: 341 75% 51%;

  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.40);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.40), 0px 1px 2px -1px rgba(0, 0, 0, 0.30);
  --shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.50), 0px 2px 4px -2px rgba(0, 0, 0, 0.40);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.60), 0px 3px 6px -3px rgba(0, 0, 0, 0.50);
  --shadow-lg: 0px 10px 20px -4px rgba(0, 0, 0, 0.70), 0px 4px 8px -4px rgba(0, 0, 0, 0.60);
  --shadow-xl: 0px 20px 40px -8px rgba(0, 0, 0, 0.80), 0px 8px 16px -8px rgba(0, 0, 0, 0.70);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.90);

  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  .no-default-hover-elevate {}

  .no-default-active-elevate {}

  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: -1;
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  .border.toggle-elevate::before {
    inset: -1px;
  }

  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: 999;
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}